@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* + p {
  margin: 0;
  padding: 0;
}
a,
ul,
li {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2d3033;
}
p-50 {
  padding: 50px 0px !important;
}
p-80 {
  padding: 80px 0px !important;
}
/* Header */

.banner-image {
  background-image: url("assets/img/banner-img.jpg");
  background-size: cover;
}
.nav-item {
  padding: 0px 15px;
}
.nav-link {
  text-transform: uppercase;
  font-size: 13px;
}

.content.text-center {
  width: 50%;
  margin: 0 auto;
}
.content.text-center .text-white {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
}
p.banner-para {
  font-weight: 400;
  color: #fff;
  font-size: 22px;
  margin-bottom: 60px;
  margin-top: 10px;
  padding: 0% 4%;
}
.my-btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  background: #e84545;
  padding: 10px 60px !important;
}
.my-btn:hover {
  outline: 0;
}
@media screen and (min-device-width: 300px) and (max-device-width: 575px) {
  .content.text-center {
    width: 100%;
  }
  .content.text-center .text-white {
    font-size: 36px;
  }
  p.banner-para {
    font-size: 16px;
  }
  .services {
    padding: 40px 0px !important;
  }
}
@media screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .content.text-center {
    width: 100%;
  }
  .content.text-center .text-white {
    font-size: 36px;
  }
  p.banner-para {
    font-size: 16px;
  }
  .services {
    padding: 40px 0px !important;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .content.text-center .text-white {
    font-size: 42px;
  }
  .content.text-center {
    width: 75%;
  }
}

/* Service Area */

.services {
  padding: 100px 0px;
}
.info-box {
  text-align: center;
  padding: 30px;
}
.icon {
  margin-bottom: 20px;
}
.box-content .box-heading h6 {
  padding: 10px 0px 15px 0px;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
.box-info {
  font-size: 14px;
  font-weight: 400;
  color: #6c7279;
}
/* Gallery Area */

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 30% 40% auto auto;
  grid-template-areas:
    "hd"
    "hero  "
    "casestudies"
    "contact"
    "ft";
}
/* case studies */
.casestudies {
  align-items: stretch;
  display: grid;
  grid-area: casestudies;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  justify-self: stretch;
  margin: 0;
}
.work {
  background-color: #f4faff;
  grid-column: span 3;
  height: auto;
  padding: 1rem;
  margin: 0;
}
.work h2 {
  color: #333745;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}
.content {
  position: relative;
}
.content .content-overlay {
  background: rgba(213, 65, 64, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
}
.content-details {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  top: 40%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h2 {
  color: #f4faff;
  margin-bottom: 0.2rem;
  font-size: 14px;
  text-transform: uppercase;
}

.content-details p {
  color: #f4faff;
  font-size: 1rem;
  font-weight: 300;
}

.fadeIn-bottom {
  top: 80%;
}

@media screen and (min-device-width: 300px) and (max-device-width: 575px) {
  .casestudies {
    grid-area: casestudies;
    grid-template-columns: 1fr 1fr;
  }
}

/* Team Area */
.team {
  padding: 80px 0px 50px 0px;
}

.team-thum img {
  width: 100%;
}

.team-content .team-heading h4 {
  padding: 20px 0px 5px 0px !important;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.team-content .team-heading h6 {
  font-size: 13px;
  font-weight: 500;
  color: #e84545;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0;
}
.team-content .team-heading p {
  font-size: 14px;
}
.team-social {
  padding-top: 30px;
}
.team-social ul li {
  list-style: none;
  display: inline-block;
  border: 1px solid #c6cacc;
  padding: 7px;
}
.team-social ul li:first-child {
  padding: 7px 12px;
}
.team-social ul li a {
  padding: 5px;
}
.team-social ul li a img {
  width: auto;
  height: 12px;
}
@media screen and (min-device-width: 300px) and (max-device-width: 575px) {
  .team-box {
    margin-bottom: 20px;
  }
  .team {
    padding: 30px 0px 0px 0px !important;
  }
}

@media screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .team-box {
    margin-bottom: 20px;
  }
  .team {
    padding: 30px 0px 0px 0px !important;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .team-box {
    margin-bottom: 20px;
  }
  .team {
    padding: 30px 0px 0px 0px !important;
  }
}

/* Testimonial Area */
.testimonial {
  margin: 50px 0px;
}
.testimonial .container-fluid {
  padding: 0;
}

.padding {
  padding: 0;
}
.testimonial .left {
  background-image: url("assets/img/testimonial/rectangle_4.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  height: 100%;
}
.testimonial .right {
  background: #53354a;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15% 0px 15%;
}
.right .text-white {
  color: #fff !important;
  font-family: "Cardo", serif;
  font-size: 36px;
  font-weight: 500 !important;
  font-style: italic;
}
h6.text-white.author {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 500;
}
.uk-dotnav > .uk-active > * {
  background-color: #fff;
  border-color: transparent;
}
.uk-dotnav > * > :focus,
.uk-dotnav > * > :hover {
  background-color: #755d6e;
  outline: 0;
  border-color: transparent;
}

/* Call to action */
.call-to-action {
  padding: 20px 0px 80px 0px;
}
.call-to-action h2 {
  font-size: 28px;
  margin: 0;
  font-weight: 300;
}
.call-to-action h6 {
  font-size: 13px;
  margin: 0;
  padding: 10px 0px 40px 0px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-3 {
  padding: 10px 60px !important;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  background: #e84545;
}
/* Footer */
#footer .top-footer {
  background: #3a3e64;
  padding: 80px;
}
#footer .top-footer .footer-widget {
  text-align: center;
}
#footer .top-footer .footer-widget h6 {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
#footer .top-footer .footer-widget p {
  color: #808080;
  font-size: 14px;
}
#footer .top-footer .footer-social li {
  list-style: none;
  display: inline-block;
  padding: 7px 10px;
  border: 2px solid #fff;
  margin: 0px 2px;
}
#footer .bottom-footer {
  background: #313454;
  padding: 20px 0px;
}
#footer .bottom-footer p {
  margin-bottom: 0px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
#footer .bottom-footer p span {
  color: red;
}
@media screen and (min-device-width: 300px) and (max-device-width: 575px) {
  #footer .top-footer .footer-widget {
    padding: 20px 0px;
  }
}
@media screen and (min-device-width: 576px) and (max-device-width: 767px) {
  #footer .top-footer .footer-widget {
    padding: 20px 0px;
  }
}
